<h3><i class="fa fa-angle-right"></i> {{ 'admin.listd' | translate }}</h3>
<div class="card-body bg-light">
  <table class="table table-striped">
    <thead class="thead-inverse">
      <tr>
        <th></th>
        <th>{{ 'admin.firstname' | translate }}</th>
        <th>{{ 'admin.lastname' | translate }}</th>
        <th>action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let conge of conges">
        <td><img src="http://localhost:8080/avatar/{{conge.user.idUser}}" alt="user" width="70" class="img-circle"></td>
        <td>{{conge.user.prenom}}</td>
        <td>{{conge.user.nom}}</td>
        <td>
          <button class="action-button btn-success"
            [routerLink]="['/congeRequest', conge.idCong]"><mat-icon>remove_red_eye</mat-icon></button>
          <button class="action-button btn-danger"
            (click)="onDeleteConge(conge.idCong)"><mat-icon>delete_outline</mat-icon></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>